body{
	height: 100%;
	background: #050505;
}

a{
	text-decoration: none;
}

.sampul{
	position: absolute;
	left: 115px;
	right: 0px;
	top: 205px;
	margin: 0 auto;
	width: 512px;
}

.arrow{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 590px;
	margin: 0 auto;
	width: 25px;
	opacity: 0.6;
}

.content1{
	background: url('../img/cov15.jpg') #050505;
	background-repeat: no-repeat;
	background-size: cover;
	position: center center;
	width: 100%;
	height: 665px;
}

.cover{
	position: absolute;
	display: block;
	width: 450px;
	margin: 0 auto;
	top: 192px;
	left: 0px;
	right: 0px;
	overflow: hidden;
}

.home{
	display: block;
	float: left;
	width: 12px;
	height: 12px;
	border: 1px solid #e52e6a;
	border-radius: 100px;
	margin: 100px 0 0 12px;
	position: absolute;
}

.explore{
	display: block;
	float: left;
	width: 12px;
	height: 12px;
	border: 1px solid #e52e6a;
	border-radius: 100px;
	margin: 125px 0 0 12px;
	position: relative;
}

.maps{
	display: block;
	float: left;
	width: 12px;
	height: 12px;
	border: 1px solid #e52e6a;
	border-radius: 100px;
	margin: 150px 0 0 12px;
	position: absolute;
}

	.home:hover,
	.explore:hover,
	.maps:hover{
		background-color: #e52e6a;
	}

		.current{
			background: #e52e6a;
		}

.container{
	float: left;
	margin-top: 157px;
	margin-left: 28px;
	position: fixed;
	z-index: 2;
}

.info{
	position: relative;
	height: 662px;
	width: 100%;
	top: 665px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	z-index: 1;
	background-color: #050505;
}

.title{
	position: absolute;
	top: 70px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	display: block;
	text-align: center;
	color: white;
	font-weight: 700;
	font-size: 25px;
}

.img1{
	position: absolute;
	width: 193px;
	height: 193px;
	top: 180px;
	left: 10%;
	background-image: url('../img/01.jpg');
	background-size: cover;
	background-position: left center;
}

.mesjid{
	position: absolute;
	width: 193px;
	min-height: 193px;
	top: 165px;
	left: 10%;
	padding-top: 80px;
	text-align: center;
	color: transparent; 
}
	.mesjid:hover{
		color: white;
		background: #e52e6a;
		opacity: 0.7;
	}

.img2{
	position: absolute;
	width: 193px;
	height: 193px;
	top: 180px;
	left: 26%;
	background-image: url('../img/02.jpg');
	background-size: cover;
	background-position: left center;
}

.cemara{
	position: absolute;
	width: 193px;
	min-height: 193px;
	top: 165px;
	left: 26%;
	padding-top: 80px;
	text-align: center;
	color: transparent;
}
	.cemara:hover{
		color: white;
		background: #e52e6a;
		opacity: 0.7;
	}

.img3{
	position: absolute;
	width: 193px;
	height: 193px;
	top: 180px;
	left: 42%;
	background-image: url('../img/03.jpg');
	background-size: cover;
	background-position: left center;
}

.mw{
	position: absolute;
	width: 193px;
	min-height: 193px;
	top: 165px;
	left: 42%;
	padding-top: 80px;
	text-align: center;
	color: transparent;
}
	.mw:hover{
		color: white;
		background: #e52e6a;
		opacity: 0.7;
	}

.img4{
	position: absolute;
	width: 193px;
	height: 193px;
	top: 180px;
	left: 58%; 
	background-image: url('../img/04.jpg');
	background-size: cover;
	background-position: left center;
}

.ismun{
	position: absolute;
	width: 193px;
	min-height: 193px;
	top: 165px;
	left: 58%;
	padding-top: 80px;
	text-align: center;
	color: transparent;
}
	.ismun:hover{
		color: white;
		background: #e52e6a;
		opacity: 0.7;
	}

.img5{
	position: absolute;
	width: 193px;
	height: 193px;
	top: 180px;
	left: 74%;
	background-image: url('../img/23.jpg');
	background-size: cover;
	background-position: left center;
}

.tjong{
	position: absolute;
	width: 193px;
	min-height: 193px;
	top: 165px;
	left: 74%;
	padding-top: 80px;
	text-align: center;
	color: transparent;
}
	.tjong:hover{
		color: white;
		background: #e52e6a;
		opacity: 0.7;
	}

.img6{
	position: absolute;
	width: 193px;
	height: 193px;
	top: 398px;
	left: 10%;
	background-image: url('../img/16.jpg');
	background-size: cover;
	background-position: left center;
}

.royal{
	position: absolute;
	width: 193px;
	min-height: 193px;
	top: 382.5px;
	left: 10%;
	padding-top: 80px;
	text-align: center;
	color: transparent;
}
	.royal:hover{
		color: white;
		background: #e52e6a;
		opacity: 0.7;
	}

.img7{
	position: absolute;
	width: 193px;
	height: 193px;
	top: 398px;
	left: 26%;
	background-image: url('../img/18.jpg');
	background-size: cover;
	background-position: left center;
}

.usu{
	position: absolute;
	width: 193px;
	min-height: 193px;
	top: 382.5px;
	left: 26%;
	padding-top: 80px;
	text-align: center;
	color: transparent;
}
	.usu:hover{
		color: white;
		background: #e52e6a;
		opacity: 0.7;
	}

.img8{
	position: absolute;
	width: 193px;
	height: 193px;
	top: 398px;
	left: 42%;
	background-image: url('../img/20.jpg');
	background-size: cover;
	background-position: left center;
}

.miley{
	position: absolute;
	width: 193px;
	min-height: 193px;
	top: 382.5px;
	left: 42%;
	padding-top: 80px;
	text-align: center;
	color: transparent;
}
	.miley:hover{
		color: white;
		background: #e52e6a;
		opacity: 0.7;
	}

.img9{
	position: absolute;
	width: 193px;
	height: 193px;
	top: 398px;
	left: 58%;
	background-image: url('../img/21.jpg');
	background-size: cover;
	background-position: left center;
}

.potret{
	position: absolute;
	width: 193px;
	min-height: 193px;
	top: 382.5px;
	left: 58%;
	padding-top: 80px;
	text-align: center;
	color: transparent;
}
	.potret:hover{
		color: white;
		background: #e52e6a;
		opacity: 0.7;
	}	

.img10{
	position: absolute;
	width: 193px;
	height: 193px;
	top: 398px;
	left: 74%;
	background-image: url('../img/15.jpg');
	background-size: cover;
	background-position: left center;
}

.sosmed{
	position: absolute;
	width: 193px;
	min-height: 193px;
	top: 382.5px;
	left: 74%;
	padding-top: 80px;
	text-align: center;
	color: transparent;
}
	.sosmed:hover{
		color: white;
		background: #e52e6a;
		opacity: 0.7;
	}

.maps_content{
	position: relative;
	height: 662px;
	width: 100%;
	top: 665px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	z-index: 1;
	background-color: #050505;
}

.title1{
	margin-top: 80px;
	display: block;
	text-align: center;
	color: white;
	font-weight: 700;
	font-size: 25px;
	top: 70px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	position: absolute;
}


#map{
	top: 180px;
	height: 70%;
	width: 78%;
	right: 0px;
	left: 0px;
	margin: 0 auto;
}

.content_map{	
	width: 100%;
	height: 100%;
	text-align: left;
	overflow: hidden;
}

.thank{
	position: relative;
	background: black;
	float: left;
	clear: both;
	width: 100%;
	height: 155px;
	top: 250px;
	right: 0px;
	left: 0px;
	margin: 0 auto;
}

.footer{
	position: relative;
	background: #0a0a0a;
	float: left;
	clear: both;
	width: 100%;
	height: 30px;
	top: 760px;
	right: 0px;
	left: 0px;
	margin: 0 auto;
}

.copy{
	position: absolute;
	top: 4px;
	right: 0px;
	left: 0px;
	margin: 0 auto;
	color: white;
	text-align: center;
	font-size: 13px;
	letter-spacing: 1px;
	opacity: 0.3;
}

